---
# file: roles/common/tasks/centos7.yml
- name: (centos7) check firewalld zone
  shell: firewall-cmd --get-default-zone
  register: is_firewalld_zone
  changed_when: is_firewalld_zone.stdout != 'trusted'

- name: (centos7) Invalid firewall services
  shell: firewall-cmd --set-default-zone=trusted
  when: is_firewalld_zone.stdout != 'trusted'

- name: (centos7) chrony packages install
  yum: name=chrony state=present
  when: ntp_server is defined

- name: (centos7) chrony.conf settings
  template: >
    src=chrony.conf.j2
    dest=/etc/chrony.conf
    owner=root
    group=root
    mode=0644
    backup=true
  register: is_chrony_conf_setting
  when: ntp_server is defined
  notify:
    - chronyd restart

- name: (centos7) enable chronyd services
  service: name=chronyd state=started enabled=yes
  when: ntp_server is defined

- name: backup settings
  include: backup.yml
  with_flattened:
    - "{{ is_chrony_conf_setting|default() }}"
  loop_control:
    loop_var: backup_item
